.Rproj.user
.Rhistory
.RData
.Ruserdata
3-mapas_bivariados.html
images
3-mapas_bivariados_files
1-exploracion_rapida_datos.html
1-exploracion_rapida_datos_files
testes_exercicio_bivariate.R
ej_biscale.html
